<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="shortcut icon" href="../img/pobe-icon.png" type="image/x-icon">
    <title>Contactanos</title>
</head>
<body>
    <!--Header-->
    
    <div class="menu">
        <div class="container-menu">
            <nav>
                <ul>
                    <div class="icon"><li><img src="../img/pobe-icon.png" alt=""></li></div>
                    
                    <li><a href="../index.html">Historia</a></li>
                    <li><a href="./pokemon.html">Pokemons</a></li>
                    <li><a href="./contacto.html">Contactame</a></li>
                    <div class="socialIcon">
                        <li class="twitterIcon"><a href=""><img src="../img/twitter.png" alt=""></a></li>
                        <li class="instagramIcon"><a href=""><img src="../img/instagram.png" alt=""></a></li>
                        <li class="facebookIcon"><a href=""><img src="../img/facebook.png" alt=""></a></li>

                    </div>
                    <li class="quota"><a href="#"><button >Quota</button></a></li>
                </ul>
            </nav>
           
        </div>
        
    </div>

    <!--Body-->
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">

                        <form action="#" method="get">
                            <div class="col-lg-4 col-sm-4 col-md-4 col-xd-12">
                                <div class="gorm-group">
                                    <label required for="name" >Nombre</label>
                                    <input type="text" name="name" autocomplete="off" value="">
                                </div>
                                <div class="gorm-group">
                                    <label for="email" >Email</label>
                                    <input type="email" name="email" autocomplete="off" value="">
                                </div>
                                <div class="gorm-group">
                                    <label for="number" >Telefono</label>
                                    <input type="text" name="number" autocomplete="off" value="">
                                </div>
                                <div class="gorm-group">
                                    <label required for="document" >PQR</label>
                                    <select name="document">
                                        <option value="">Tipo de Solicitud</option>
                                        <option value="Peticion" id="document">Peticion</option>
                                        <option value="Queja" id="document">Queja</option>
                                        <option value="Reclamo" id="document">Reclamo</option>
                                        <option value="Sugerencia" id="document">Sugerencia</option>
                                    </select>
                                </div>

                                <div class="gorm-group">
                                    <label for="obrservation" >Observacion</label>
                                    <textarea name="obrservation" id="obrservation" cols="20" rows="10"></textarea>
                                </div>
                               
                                    <button>Enviar</button>
                           
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row2">
                <div class="col-md-12">
                    <div class="card">
                        <img src="../img/contacto.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3241.604267549456!2d139.69606357625767!3d35.66212043102277!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188dae14b52bed%3A0xca9863932bd4be02!2sNintendo%20Tokio!5e0!3m2!1ses!2sco!4v1728413454363!5m2!1ses!2sco" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="content-users">
        <div class="titulo-contacto">
            <h2>Contacta con nuestros desarrolladores</h2>
            <input type="text" placeholder="Buscar...">
            <button>Buscar</button>
        </div>
        <div class="table-users">
            <table>
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Email</th>
                        <th>Ciudad</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Juan</td>
                        <td>juan@gmail.com</td>
                        <td>Ocaña</td>
                    </tr>
                    <tr>
                        <td>Ana</td>
                        <td>ana@gmail.com</td>
                        <td>Cúcuta</td>
                    </tr>
                    <tr>
                        <td>María</td>
                        <td>maria@gmail.com</td>
                        <td>Bucaramanga</td>
                    </tr>
                    <tr>
                        <td>Pedro</td>
                        <td>pedro@gmail.com</td>
                        <td>Bogotá</td>
                    </tr>
                    <tr>
                        <td>Lucía</td>
                        <td>lucia@gmail.com</td>
                        <td>Medellín</td>
                    </tr>
                    <tr>
                        <td>Jorge</td>
                        <td>jorge@gmail.com</td>
                        <td>Cali</td>
                    </tr>
                    <tr>
                        <td>Clara</td>
                        <td>clara@gmail.com</td>
                        <td>Medellin</td>
                    </tr>
                    <tr>
                        <td>Sofía</td>
                        <td>sofia@gmail.com</td>
                        <td>Bogotá</td>
                    </tr>
                    <tr>
                        <td>Carlos</td>
                        <td>carlos@gmail.com</td>
                        <td>Bucaramanga</td>
                    </tr>
                    <tr>
                        <td>Laura</td>
                        <td>laura@gmail.com</td>
                        <td>Ocaña</td>
                    </tr>
                </tbody>
            </table>
            <div class="pie-contacto">
                <input type="text" value="<<" disabled>
                <input type="text" value="1" disabled>
                <input type="text" value="2" disabled>
                <input type="text" value="3" disabled>
                <input type="text" value=">>" disabled>
            </div>
        </div>
    </div>

</body>
</html>