<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="shortcut icon" href="../img/pobe-icon.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&display=swap" rel="stylesheet">
    
    <title>Pokemon</title>
</head>
<body>
    <!--Header-->
    
    <div class="menu">
        <div class="container-menu">
            <nav>
                <ul>
                    <div class="icon"><li><img src="../img/pobe-icon.png" alt=""></li></div>
                    
                    <li><a href="../index.html">Historia</a></li>
                    <li><a href="../view/pokemon.html">Pokemons</a></li>
                    <li><a href="./contacto.html">Contactame</a></li>
                    <div class="socialIcon">
                        <li class="twitterIcon"><a href=""><img src="../img/twitter.png" alt=""></a></li>
                        <li class="instagramIcon"><a href=""><img src="../img/instagram.png" alt=""></a></li>
                        <li class="facebookIcon"><a href=""><img src="../img/facebook.png" alt=""></a></li>

                    </div>
                    <li class="quota"><a href="#"><button >Quota</button></a></li>
                </ul>
            </nav>
           
        </div>
        
    </div>

    <!--Body-->
    <!-- PRIMERA SECCION -->
    <div class="main">
        <div class="title">
            <h2>Starter Pokemon</h2>
            <span>Select one</span>
        </div>
        <div class="container-pokemon">
            <div class="border">
                <div class="pokemon-1">
                    <a target="_blank" href ="https://pokemondb.net/pokedex/bulbasaur">
                        <img src="../img/bulbasaur.gif" alt="">
                        
                    </a>
                    <h4>Bulbasur</h4>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo</p>
                    <div class="flecha">
                        <a href="#"><img src="../img/flecha-correcta.png" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="border">
                <div class="pokemon-1">
                    
                    <a target="_blank" href="https://pokemondb.net/pokedex/charmander">
                        <img src="../img/charmander.gif" alt="">
                    </a>
                    <h4>Charmander</h4>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo</p>
                    <div class="flecha">
                        <a href="#"><img src="../img/flecha-correcta.png" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="border">
                <div class="pokemon-1">
                    
                    <a target="_blank" href="https://pokemondb.net/pokedex/squirtle">
                        <img src="../img/squirtle.gif" alt="">
                    </a>
                    <h4>Squirtle</h4>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo</p>
                    <div class="flecha">
                        <a href="#"><img src="../img/flecha-correcta.png" alt=""></a>
                    </div>
                </div>
            </div>
            <br>
        </div>
        
        <!-- SEGUNDA SECCION -->
    </div>
    <div class="container_about">
        <div class="about">
            <div class="tb_about">
                <div class="text_about">
                    <h1>Zona de innovación</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
                </div>
                <div class="boton_about">
                    <a href="#" class="btn_text-about btn_text">Know More</a>
                </div>
            </div>
            <div class="image_about">
                <img src="../img/person1.png" alt="Imagen 1">
                <img src="../img/person2.png" alt="Imagen 2">
            </div>
        </div>
    </div>
    <!-- FOOTER -->
    <footer>
        <p>&copy; 2024 Todos los derechos reservados.</p>
        <div class="footer-links">
            <a href="#">Política de Privacidad</a>
            <a href="#">Términos de Servicio</a>
            <a href="./contacto.html">Contacto</a>
        </div>
        <div class="footer-social">
            <a href="#">Facebook</a>
            <a href="#">Twitter</a>
            <a href="#">Instagram</a>
        </div>
    </footer>
</body>
</html>