<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>Pokemon</title>
</head>
<body>
    <div class="header">
        <div class="container-header">
            <nav>
                <ul>
                    <div class="icon"><li><img src="../img/pobe-icon.png" alt=""></li></div>
                    
                    <li><a href="../index.html">Historia</a></li>
                    <li><a href="../view/pokemon.html">Pokemons</a></li>
                    <li><a href="">Gymnasios</a></li>
                </ul>
            </nav>
        </div>
        
    </div>
    <div class="container-pokemon">
        <div class="pokemon-1">
            <img src="../img/bulbasaur.png" alt="">
        </div>
        <div class="pokemon-2">
            <img src="../img/charmander.png" alt="">
        </div>
        <div class="pokemon-3">
            <img src="../img/squirtle.png" alt="">
        </div>
    </div>
</body>
</html>