@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --color_text-primary: green;
    --color_background-top: rgb(114, 114, 114);
    --color_background-bottom: rgb(224, 224, 224);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    
}
.menu{
    background-color: white;
    width: 100%;
    height: 100px;
    z-index: 100; /*Superpone Elementos*/
    position:fixed;  /*La seccion se vuelve Estatica*/
    display: inline-block; 
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 100px;
}

.container-menu ul { 
    display: flex;
}

.container-menu ul li {
    text-decoration: none;
    margin-left: 25px; 
    margin-top: 32px; 
    color: rgb(255, 81, 81);
    display: inline-block; 
    margin-right: 35px;
    font-size: 18px;

}
.container-menu ul li a{
    text-decoration: none;
    list-style:none;
    color: rgb(255, 81, 81);
}

.container-menu ul li a:hover{
    color: rgb(133, 1, 1);

}
.icon{
    margin-top: -15px;
}
.icon li img{
    width: 60px;
    margin-left: 10.5em;
}
.socialIcon{
    margin-left: 50vh;
    display: flex;
    justify-content: space-between; 

}

.twitterIcon a img{
    width: 30px;
}
.instagramIcon a img{
    width: 30px;
}
.facebookIcon a img{
    width: 30px;
}

.quota a button{
    margin-top: -4px;
    margin-left: 10px;

    height: 40px;
    width: 80px;
    color: white;
    background-color:rgb(179, 79, 79);
    border: 1px solid white;
    border-radius: 50px;

}
.quota a button:hover{
    cursor: pointer;

}

.main{
    background: linear-gradient(var(--color_background-top), var(--color_background-bottom));
    height: 100%; 
    width: 100%;
    
}

.container-pokemon{
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    align-items: center;
    text-align: center;
    width: 100%;
    padding-bottom: 20%;

}
.title{
    align-items: center;
    right: 43%;
    margin-top: 125px;
    position:absolute;
    font-size: 18px;
}
.title span{
    margin-left: 80px;
    color: rgb(211, 211, 211);
    font-size: 14px;
}
.container-pokemon2{
    display: flex;
    height: 100vh;
    align-items: center;
    text-align: center;
}
.border{
    height: 40%;
    width: 20%;
    margin-left: 10%;
    margin-top: 50px;
    transition: all 100ms;

}
.flecha img{
    margin-top: 10px;
    width: 30px !important; 
}
.pokemon-1{
    margin-top: 40%;
   background-color: rgb(255, 255, 255, 0);
   margin-left: 10px;
   border-radius: 10px;
   padding: 10px;
    
}.pokemon-1 h4{
    margin: 10px;
    margin-bottom: 10px;
    font-size: 18px;

}
.pokemon-1 p{
    font-family: Arial, Helvetica, sans-serif;
    
}
.container-pokemon img{
    transition: transform 0.3s ease; /* Transición suave */
    width: 80px;
    
}
.container-pokemon img:hover{
    transform: translateY(-10px); /* Eleva la imagen 10px hacia arriba */
}

.container{
    /**/
    display: flex;
    margin:auto;
    width: 70%;

    background-color: white;

}
.secundary-container{
    margin-top: 120px;
    text-align: center;
    margin-left: 50px;
    width: 85%;
    justify-content: space-between; /* Distribuye espacio entre firstGrid y secondGrid */
   
}


.firstGrid{
    margin-top: 40px;
    width: 70%;
    float: left;
    /*background-color: red;*/
}
.firstGrid h2{
    font-size: 26px;
    text-align: start;
}
.firstGrid div p{
    width: 100%;
    margin-left: 0px;
    text-align: start;
    margin-bottom: 20px;
}
.imgPokemon img{
    width: 100%;
    
    
    margin-top: 10px;
}
.video p{
    
    margin-top: 10px;
}
.video iframe{
    padding-bottom: 50px;
    
}
.secondGrid{
    margin-left: 70%;
    margin-top: 10vh;
    width: 38%;
    background-color: rgb(255, 255, 255);
}
.youtube{
    display: flex;
    margin-left: 20px;
}
.youtube img{
    width: 60px;

}
.youtube h4{
    margin-left: 20px;
    margin-top: 18px;
    font-size: 14px;

}
.mainPokemons{
    margin-left: 20px;
    text-align: start;
}.mainPokemons h2{
    margin-bottom: 10px;
}
.mainPokemons a{
    text-decoration: none;
    font-size: 14px;
    color: rgb(84, 150, 224);
}
.typePokemon{
    margin-left: 30px;
    margin-top: 20px;
    display: flex;
    width: 87%;
}
.type{
    display: flex;
    list-style:none;
    flex-wrap: wrap;
}
.type li{
    font: 10px;
    margin:2px;
    /*background-color: aqua;*/
    border: 0.2px solid black; /* Borde de 0.5px de grosor */
    border-radius: 4px;
    width: 70px;
}.type p{
    color:white;
    font-size: 14px;
}

.container_about{
    width: 100%;
    text-align: center;
    align-items: center;
    background-color: rgb(187, 187, 187);
    background: linear-gradient(var(--color_background-bottom),var(--color_background-top));
    padding-bottom: 6%;
}
.about{
    display: flex;
    width: 80%;
    margin-left: 160px;

}
.tb_about{
    width: 40%;

}.text_about p{
    margin-top: 40px;
    text-align: start;
    margin-left: 10px;
}.text_about h1{
    margin-top: 60px;
}
.boton_about{
    margin: auto;
    margin-top: 50px;
    width: 80;
    display: block;
    margin-bottom: 60px;
}.boton_about a{
    font-style: italic;
    padding: 10px;
    background-color: brown;
    border-radius: 10px;
    border: 1px solid brown;
    color: white;

}
.image_about{
    margin-top: 150px;
    margin-left: 100px;
}
.image_about img{
    border-radius: 20px;
    border-bottom-right-radius: 500px;
    width: 40%;
    margin: 30px;
    transition: transform 0.3s ease; /* Transición suave */
}.image_about img:hover{
    transform: translateY(-10px); /* Eleva la imagen 10px hacia arriba */
}

/* Formulario de Contacto */
.content{
    height: 100%;
    width: 100%;
    background: linear-gradient(var(--color_background-bottom), rgb(211, 92, 92));
    padding-bottom: 133px;
}
.container-fluid{
    display: flex;
    width: 100%;
}
.row{
    width: 60%;
    margin-left: 15%;
    margin-top: 150px;
    padding: 40px;
    background-color: rgb(114, 114, 114);
    background: linear-gradient(var(--color_background-top), var(--color_background-bottom));
    border-radius: 10px;
}
.row2{
    margin-top: 11%;
    margin-left: 10%;
}
.row2 img{
    width: 80%;
    border-radius: 10px;
}
.gorm-group{
    
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 5px;
    
}
.gorm-group input{
    width: 100%;    

}
.gorm-group select {
    width: 100%;

}
.gorm-group option{
    width: 100%;

}
.gorm-group textarea{
    width: 100%;
    height: 100px;
}
.card h2{
    text-align: center;
    font-size: 18;
    font-family: Arial, Helvetica, sans-serif;
}
button{
    background-color: rgb(211, 92, 92);
    border-radius: 10px;
    color: white;
    border: 1px solid white;
    padding: 6px;
    margin-top: 10px;
    margin-left: 30%;
    width: 20vh;    
}
.audio{
    margin-bottom: 100px;
}

.content-users{
    width: 100%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
}
.content-users table{
    border-collapse: collapse;
    margin: 20px 0;
    width: 60%;
    
}
.content-users th, td{
    border: 1px solid #ddd;
    padding: 4px;
    text-align: left;
}
.content-users th {
    background-color: rgb(211, 92, 92);
    color: white;
    
}
.table-users{
    margin-left: 28%;

}


.titulo-contacto input{
    margin-left: 34%;
    margin: 10px;
    width: 200px;
    padding: 4px;

}
.titulo-contacto button{
    margin-left: 0;
    padding: 4px;
}
.pie-contacto{
    display: flex;
    margin-left: 20px;
}
.pie-contacto input{
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 50px;
    border: 0px ;
    background-color: rgb(211, 92, 92);
    color: white;
    margin-left: 10px;
}
footer a {
    color: #000000; 
    text-decoration: none; 
    margin: 0 10px; 
    transition: color 0.3s ease; /* Transición suave cuando se cambia el color */
    margin-bottom: 10px;
    align-items: center;
}
footer{
    background-color: var(--color_background-bottom);
    width: 100%;
    padding: 10px;
    display: flex;
}

footer a:hover {
    text-decoration: underline; /* Subrayado al pasar el mouse */
    color: rgb(211, 92, 92);
}
footer p{
    margin-left: 10px;
    margin-top: 10px;
}
.footer-links {
    margin: auto;
    margin-top: 10px;
    font-size: 14px; 
}
.footer-social {
    margin-top: 10px;
    font-size: 14px;
}
.footer-social a {
    margin: 0 10px; 
    font-size: 14px;
}
.contenedor-equipo{
    display: flex;
    margin: 50px;
    margin-left: 24%;
}
.contenedor-equipo img{
    width: 150px;
    border-radius: 20px;
    padding: 10px;
    background: linear-gradient(rgb(211, 92, 92), var(--color_background-bottom));
    background-color: rgb(211, 92, 92);
}
.contenido-uno{
    margin-left: 40px;
}
.titulo-equipo{
    width: 100%;
}.titulo-equipo h2{
    text-align: center;
}
.sobre-nosotros{
    margin-bottom: 100px;
}